<section class="hero" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <!-- text -->
      <div class="col-md-6 hero-text">
        <h1>Hi, I'm <span>Mohamed Saleh</span></h1>

        <h3>Full Stack Developer</h3>

        <p>
          I'm a passionate full stack developer with experience in building web
          applications using Angular, Node.js, and MongoDB. I enjoy creating
          efficient and scalable solutions to solve real-world problems.
        </p>

        <div class="hero-buttons">
          <a class="btn btn-primary me-3">
            <i class="fa-solid fa-diagram-project"></i>
            View Projects
          </a>

          <a class="btn btn-outline-dark">
            <i class="fa-solid fa-download"></i>
            Download CV
          </a>
        </div>
      </div>

      <!-- image -->
      <div class="col-md-6 text-center">
        <img
          src="../../../assets/Me.jpeg"
          class="hero-img mt-4 mt-md-0"
          alt="profile"
        />
      </div>
    </div>
  </div>
</section>
