<section class="projects" id="projects">
  <div class="container">
    <h2 class="text-center mb-5">My Projects</h2>

    <div class="row g-4">
      <div class="col-md-4">
        <div class="project-card">
          <img src="../../../assets/bondi.png" class="img-fluid" />

          <h4>Bondi Website</h4>

          <p>Responsive landing page built with HTML, CSS and Bootstrap.</p>

          <div class="tech">
            <span>HTML</span>
            <span>CSS</span>
            <span>Bootstrap</span>
          </div>

          <div class="buttons d-flex gap-2">
            <a
              href="https://eng-mohamedsalehtag.github.io/bondi--templete-bootstrap/"
              class="btn btn-primary"
              target="_blank"
              >Live</a
            >
            <a
              href="https://github.com/Eng-mohamedsalehtag/bondi--templete-bootstrap"
              class="btn btn-outline-light"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <img src="../../../assets/hangman.png" class="img-fluid" />

          <h4>Hangman Game</h4>

          <p>Interactive hangman game built with HTML, CSS and JavaScript.</p>

          <div class="tech">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
          </div>

          <div class="buttons d-flex gap-2">
            <a
              href="https://eng-mohamedsalehtag.github.io/hangmangame/"
              class="btn btn-primary"
              target="_blank"
              >Live</a
            >
            <a
              href="https://github.com/Eng-mohamedsalehtag/hangmangame"
              class="btn btn-outline-light"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <img src="../../../assets/crud.png" class="img-fluid" />

          <h4>CRUD</h4>

          <p>CRUD application built with HTML, CSS and vanilla JavaScript.</p>

          <div class="tech">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
          </div>

          <div class="buttons d-flex gap-2">
            <a
              href="https://eng-mohamedsalehtag.github.io/cruds/"
              class="btn btn-primary"
              target="_blank"
              >Live</a
            >
            <a
              href="https://github.com/Eng-mohamedsalehtag/cruds"
              class="btn btn-outline-light"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
