<footer class="footer py-4">
  <div class="container text-center">
    <h5 class="mb-3">Mohamed Saleh Portfolio</h5>

    <!-- Quick Links -->
    <ul class="footer-links list-inline mb-3">
      <li class="list-inline-item"><a href="#hero">Home</a></li>
      <li class="list-inline-item"><a href="#about">About</a></li>
      <li class="list-inline-item"><a href="#skills">Skills</a></li>
      <li class="list-inline-item"><a href="#projects">Projects</a></li>
      <li class="list-inline-item"><a href="#contact">Contact</a></li>
    </ul>

    <!-- Social Links -->
    <div class="social mb-3">
      <a href="https://github.com/eng-mohamedsalehtag" target="_blank">
        <i class="fa-brands fa-github fa-lg"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/mohamed-saleh-tag-eldien-b51a89392"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin fa-lg"></i>
      </a>
    </div>

    <p class="mb-0">&copy; 2026 Mohamed Saleh. All rights reserved.</p>
  </div>
</footer>
